html,
body {
  height: 100%;
}

@keyframes colorExplosion {
  from {
    background-color: orange;
  }

  to {
    background-color: blue;
  }
}

body.explosion {
  animation: colorExplosion 5s infinite alternate;
}

.correct {
  background-color: aquamarine;
}

.wrong {
  background-color: maroon;
}