html,
body {
  height: 100%;
}

body {
  padding: 10%;
}

form {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

form input,
form button {
  padding: 6px 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

form button {
  border: none;
  padding: 7px 10px;
  background-color: lightseagreen;
  color: #fff;
  cursor: pointer;
}